*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    background: url("C:\Users\iamre\Desktop\bg.jpg");
    background-position:center;
    background-size: cover;
    height:100vh;
    position:relative;
    font-family:sans-serif;
}